.center-flex.container-fluid
    form.well
        .form-group
            input.form-control(placeholder="Nickname" ng-model="nickname" ng-maxlength="24" required)
        .form-group
            button.btn.btn-success.btn-block(ng-click="join()") #[i.fa.fa-plus]  Join